<div class="jumbotron">
     <center>
          <h1>Welcome to Cafe Ruby!</h1>

          <img src="http://www.edinburghspotlight.com/wp-content/uploads/2010/12/P1060252.jpg">
          <br>

        <%= link_to "Menu", menus_path, class: "btn btn-default" %>
        <%= link_to "Locations", locations_path, class: "btn btn-default" %>
    </center>
</div>